/* github link */
.github-link {
  position: fixed;
  top: 60px;
  right: 40px;
  z-index: 999;
  display: flex;
  height: 112px;
  color: #333;
  text-decoration: none;
}
.github-link.active {
  right: 10px;
}
.github-link:hover {
  text-decoration: none;